@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(32%)
        saturate(1607%) hue-rotate(215deg) brightness(95%) contrast(95%);

    --body-bg-color: #f6f6f6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
    --top-act-user-shadow: rgba(0, 0, 0, 0.08);

    @include abstracts.breakpoint(lg) {
        --header-bg-color: #fff;
    }

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;
}
