*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Gordita", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

button {
    outline: none;
    border: none;
    background: transparent;
}

.icon {
    filter: var(--icon-color);
}
